/* Styling the new Ascension content */



/* Opening the Box Animation */
#box-open-animation {
    cursor: url('../images/cursor/default.png'), auto;
}
#void-box {
    background-image: url('../images/ascension/the_box.png');
    background-size: 100% 100%;
    height: 300px;
    left: 300px;
    position: relative;
    top: 100px;
    width: 280px;
    z-index: 2;
}
.boxShrinkClass {
    animation: voidBoxShrink 3s ease-in normal;
}
@keyframes voidBoxShrink {
  from {
    transform: rotate(0deg);
    scale: 1.0;
  }
  to {
    transform: rotate(360deg);
    scale: 0.0;
  }
}



/* The Outer Box Dimension */
#box-dim-table {
    height: 100%;
    padding: 0px;
    width: 100%;
}
#left-box-dim-cell {
    background: radial-gradient(circle,rgb(106, 0, 163) 0%, rgb(74, 0, 101) 100%);
    padding: 15px;
    vertical-align: top;
    width: 268px;
}
#right-box-dim-cell {
    background: radial-gradient(circle,rgb(73, 0, 113) 0%, rgb(28, 0, 38) 100%);
    height: 598px;
    position: absolute;
    vertical-align: top;
    width: 600px;
}
#return-to-burg-button {
    background: red;
    border-radius: 3px;
    bottom: 20px;
    cursor: url('../images/cursor/pointer.png'), auto;
    opacity: 0.75;
    padding: 10px;
    position: absolute;
    text-align: center;
}
#return-to-burg-button:hover {
    opacity: 1.0;
}
.asc-upgrade-node {
    background-color: black;
    background-size: 100% 100%;
    border: 5px solid white;
    border-radius: 25px;
    cursor: url('../images/cursor/pointer.png'), auto;
    height: 40px;
    position: absolute;
    width: 40px;
}
.asc-upgrade-node:hover {
    scale: 0.9;
}
#asc-hover-spot {
    background-color: rgb(44, 0, 68);
    bottom: 4px;
    height: 150px;
    padding: 10px;
    left: 4px;
    position: absolute;
    width: 273px;
    z-index: 5;
}
.decorative-box {
    animation: boxDrift 3s linear alternate infinite;
    height: 120px;
    opacity: 0.8;
    position: absolute;
    width: 90px;
}
@keyframes boxDrift {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
#herobrine-text {
    color: rgb(67, 67, 67);
    box-shadow: none;
    top: 10px;
    left: 515px;
    position: absolute;
    z-index: 6;
}
#herobrine-cameo {
    bottom: 50px;
    left: 530px;
    height: 40px;
    position: absolute;
    width: 40px;
    z-index: 6;
}
#gary-respec-button {
    background-size: 100% 100%;
    border-radius: 25px;
    cursor: url('../images/cursor/pointer.png'), auto;
    height: 50px;
    position: absolute;
    width: 50px;
    right: 20px;
    bottom: 20px;
    opacity: 0.8;
    background-image: url("../images/ascension/gary_icon.png")
}
#gary-respec-button:hover {
    opacity: 1.0;
    scale: 0.9;
}



/* Main Screen */
.ascUpgrade-cell {
    background-color: rgb(97, 0, 149);
    cursor: url('../images/cursor/pointer.png'), auto;
    padding: 5px;
}
.ascUpgrade-cell:hover {
    color: yellow;
    text-decoration: underline;
}
#asc-upgrade-list {
    opacity: 0.6;
}
#loading-bar-outer {
    background-color: rgb(205, 205, 205);
    border: 2px solid black;
    border-radius: 3px;
    height: 12px;
    margin: auto;
    width: 180px;
}
#loading-bar-inner {
    background-color: rgb(125, 36, 173);
    height: 100%;
    width: 0px;
}



/* Pet da Puffle */
.petPuffleClass {
    animation: pufflePet 0.8s;
}
@keyframes pufflePet {
    0% {
        height: 60px;
    }
    100% {
        height: 80px;
    }
}



/* Iceberg Page */
#iceberg-page {
    background-image: url('../images/iceberg/background.png');
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    width: 100%;
}
#iceberg-content-box {
    background: radial-gradient(circle,rgba(22, 22, 173, 0.8) 0%, rgb(11, 11, 83, 0.8) 100%);
    height: 160px;
    padding: 15px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 200px;
    z-index: 3;
}
#tip-iceberg-button {
    background: red;
    border-radius: 3px;
    cursor: url('../images/cursor/pointer.png'), auto;
    margin: auto;
    opacity: 0.75;
    padding: 10px;
    text-align: center;
    width: 130px;
}
#tip-iceberg-button:hover {
    opacity: 1.0;
}
.shakyIcebergClass {
    animation: shakyIceberg 0.5s;
}
.shakyIcebergInfClass {
    animation: shakyIceberg 0.5s infinite;
}
@keyframes shakyIceberg {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#iceberg-penguin-space {
    height: 325px;
    position: absolute;
    left: 180px;
    text-align: center;
    bottom: 140px;
    width: 420px;
    z-index: 3;
}
.iceberg-penguin {
    height: 80px;
    position: absolute;
    width: 65px;
}



/* Flipped Iceberg */
#iceberg-flipped-page {
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    width: 100%;
}
#ending-content-box {
    font-size: 22px;
    left: 230px;
    margin: auto;
    padding: 20px;
    position: absolute;
}
#clickable-paper {
    background-color: white;
    bottom: 130px;
    cursor: url('../images/cursor/pointer.png'), auto;
    height: 30px;
    right: 240px;
    opacity: 0.5;
    padding: 2px;
    position: absolute;
    rotate: -40deg;
    text-align: center;
    width: 41px;
    z-index: 2;
}
#clickable-paper img {
    height: 30px;
    width: 40px;
}
#clickable-paper:hover {
    opacity: 1.0;
}
#big-paper {
    background: rgb(213, 213, 213);
    border-radius: 10px;
    left: 50px;
    margin: auto;
    padding: 15px;
    position: absolute;
    text-shadow: 2px 2px 10px black;
    z-index: 3;
}
#big-paper img {
    height: 490px;
    width: 760px;
}
#ending-line {
    font-size: 28px;
    font-weight: bold;
    left: 130px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 20px;
}
#return-from-ending-button {
    font-size: 20px;
    left: 390px;
    margin: auto;
    padding: 20px;
    position: absolute;
    bottom: 30px;
}