@font-face {
    font-family: 'IBM_Plex_Serif'; /* Give your font a name */
    src: url('Google_Fonts/IBMPlexSerif-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    color: white;
    font-family: "IBM_Plex_Serif", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    text-shadow: 1px 1px 5px black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#footer {
    color: gray;
    font-size: 10px;
    text-align: center;
    width: 100%;
}



/* General */
#game-frame {
    background-color: black;
    cursor: url('../images/cursor/default.png'), auto;
    height: 600px;
    margin: auto;
    position: relative;
    width: 900px;
}
#main-table {
    border-spacing: 3px;
    height: 100%;
    width: 100%;
}
.main-cell {
    background: #0280CD;
    background: radial-gradient(circle,rgba(2, 128, 205, 1) 0%, rgba(0, 82, 155, 1) 100%);
    vertical-align: top;
    width: 296px;
}
#top-cell {
    background: radial-gradient(circle,rgba(22, 22, 173, 1) 0%, rgb(11, 11, 83) 100%);
    height: 18px;
    text-indent: 5px;
    padding: 1px;
}



/* Settings Screen */
#settings-div {
    background: radial-gradient(circle,rgba(22, 22, 173, 1) 0%, rgb(11, 11, 83) 100%);
    height: 100%;
    position: relative;
    width: 100%;
}
.settings-button:hover {
    color: yellow;
    cursor: url('../images/cursor/pointer.png'), auto;
    text-decoration: underline;
}
#samster-img {
    bottom: 10px;
    height: 480px;
    right: 10px;
    opacity: 0.2;
    position: absolute;
    transform: scaleX(-1);
    width: 320px;
    z-index: 2;
}
#title-img {
    top: 10px;
    right: 10px;
    opacity: 0.2;
    position: absolute;
    z-index: 2;
}
#changelog-div {
    background: radial-gradient(circle,rgba(22, 22, 173, 1) 0%, rgb(11, 11, 83) 100%);
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
#changelog-content-div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 350px;
    margin: auto;
    overflow-y: scroll;
    padding: 15px;
    position: relative;
    text-align: left;
    width: 500px;
    z-index: 3;
}



/* Achievement Dropdown */
#achievement-dropdown {
    background: #0280CD;
    border: 5px solid rgba(22, 22, 173, 1);
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 3px;
    top: -50px;
    width: 200px;
    z-index: 5;
}
.dropdownClass {
    animation: achDropdown 5s;
}
@keyframes achDropdown {
    0% {
        opacity: 0;
        top: -50px;
    }
    10% {
        opacity: 1;
        top: 3px;
    }
    90% {
        opacity: 1;
        top: 3px;
    }
    100% {
        opacity: 0;
        top: -50px;
    }
}
#current-ach-name {
    color: yellow;
}



/* Left Cell */
#left-cell {
    text-align: center;
    z-index: 0;
}
#coin-display {
    font-size: 22px;
}
#cps-display {
    font-size: 15px;
}
#coins-click-display {
    font-size: 15px;
}
#clickable-coin {
    background-image: url('../images/site/big-coin.png');
    background-size: 100% 100%;
    cursor: url('../images/cursor/tap.png'), auto;
    height: 100px;
    left: 80px;
    position: absolute;
    width: 138px;
    z-index: 2;
}
.coinPulseClass {
    animation: coinPulse 0.8s;
}
@keyframes coinPulse {
    0% {
        rotate: -10deg;
        scale: 80%;
    }
    100% {
        rotate: 0deg;
        scale: 100%;
    }
}
#starburst-behind-coin {
    animation: starburstSpin 30s linear infinite;
    height: 250px;
    left: 25px;
    position: absolute;
    top: 180px;
    width: 250px;
    z-index: 1;
}
@keyframes starburstSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#puffle-big-spot {
    bottom: 5px;
    left: 5px;
    position: absolute;
    width: 290px;
    z-index: 3;
}
#puffle-display-spot {
    cursor: url('../images/cursor/tap.png'), auto;
    height: 80px;
    width: 80px;
}
#puffle-display-spot img {
    bottom: 10px;
    height: 80px;
    left: 10px;
    position: absolute;
    width: 85px;
}
#migrator-sit-spot {
    animation: migratorSway 4s linear alternate infinite;
    background-image: url("../images/site/migrator.png");
    background-size: 100% 100%;
    bottom: 180px;
    height: 100px;
    left: 190px;
    position: absolute;
    width: 100px;
    z-index: 2;
}
@keyframes migratorSway {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

#mascot-sit-spot {
    animation: mascotPulse 1s linear alternate infinite;
    background-size: 100% 100%;
    bottom: 320px;
    font-size: 15px;
    height: 100px;
    left: 10px;
    position: absolute;
    width: 100px;
    z-index: 2;
}
@keyframes mascotPulse {
  from {
    scale: 1.0;
  }
  to {
    scale: 0.8;
  }
}
#sell-sit-spot {
    background-image: url("../images/site/sell_sit.png");
    background-size: 100% 100%;
    bottom: 190px;
    height: 60px;
    left: 10px;
    position: absolute;
    width: 60px;
    z-index: 2;
}
#iceberg-sit-spot {
    background-image: url("../images/iceberg/iceberg_icon.png");
    background-size: 100% 100%;
    bottom: 210px;
    height: 80px;
    left: 58px;
    position: absolute;
    rotate: -15deg;
    width: 180px;
    z-index: 1;
}



/* Middle Cell */
#middle-cell {
    position: relative;
}
#middle-top-tab-table {
    width: 100%;
}
#middle-top-tab-table td {
    background-color: rgb(0, 0, 149);
    cursor: url('../images/cursor/pointer.png'), auto;
    padding: 5px;
    text-align: center;
    width: 33%;
}
#middle-top-tab-table td:hover {
    color: yellow;
    text-decoration: underline;
}
.middle-header {
    font-size: 18px;
    text-align: center;
    width: 100%;
}
#how-to-play-page {
    padding: 5px;
}
#statistics-page {
    padding: 5px;
}
#achievements-page {
    padding: 5px;
}
#ach-table {
    position: relative;
    width: 100%;
    z-index: 6;
}
#ach-table td {
    vertical-align: top;
    width: 50%;
}
#achievements-page span {
    padding: 5px;
}
#achievements-page span:hover {
    cursor: url('../images/cursor/pointer.png'), auto;
    text-shadow: 1px 1px 5px yellow;
}
#hover-spot {
    background-color: rgb(0, 0, 149);
    bottom: 1px;
    height: 150px;
    padding: 10px;
    position: absolute;
    width: 275px;
    z-index: 5;
}
.flavorText {
    color: #b0b0b0;
    font-style: italic;
    text-shadow: none;
}
#burg-img {
    background-size: 100% 100%;
    bottom: 10px;
    height: 210px;
    left: 10px;
    position: absolute;
    width: 150px;
    z-index: 3;
}
#gold-pile {
    background-image: url("../images/site/gold_pile.png");
    background-position-x: -20px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 200% 140%;
    bottom: 1px;
    height: 180px;
    position: absolute;
    width: 294px;
    z-index: 4;
}
#gold-pile-2 {
    background-image: url("../images/site/tall_gold_pile.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    bottom: 1px;
    height: 300px;
    position: absolute;
    width: 294px;
    z-index: 2;
}



/* Right Cell */
#right-cell {
    position: relative;
}
#right-top-tab-table {
    width: 100%;
}
#right-top-tab-table td {
    background-color: rgb(0, 0, 149);
    cursor: url('../images/cursor/pointer.png'), auto;
    padding: 5px;
    text-align: center;
    width: 33%;
}
#right-top-tab-table td:hover {
    color: yellow;
    text-decoration: underline;
}
#minigame-page {
    padding: 5px;
}
#minigame-page table {
    width: 100%;
}
#minigame-page td {
    background-color: blue;
    cursor: url('../images/cursor/pointer.png'), auto;
    height: 40px;
    padding: 3px;
    width: 100%;
}
#upgrade-page {
    height: 530px;
    overflow-y: scroll;
    padding: 5px;
}
#upgrade-table {
    width: 100%;
}
.upgrade-cell {
    background-color: blue;
    cursor: url('../images/cursor/pointer.png'), auto;
    padding: 5px;
}
.upgrade-cell:hover {
    color: yellow;
    text-decoration: underline;
}
#owned-upgrade-list {
    opacity: 0.6;
}

#puffle-page {
    padding: 5px;
}
.puffle-cell {
    background-color: rgb(0, 0, 255);
    cursor: url('../images/cursor/pointer.png'), auto;
    height: 40px;
    padding: 3px;
    width: 100%;
}
.puffle-cell:hover {
    color: yellow;
    text-decoration: underline;
}
.puffle-equip {
    padding-right: 10px;
    padding-top: 5px;
}
.puffle-equip img {
    height: 30px;
    width: 30px;
}
#big-box {
    background-image: url('../images/ascension/the_box.png');
    background-size: 100% 100%;
    cursor: url('../images/cursor/tap.png'), auto;
    height: 150px;
    left: 70px;
    position: relative;
    text-align: center;
    width: 140px;
    z-index: 2;
}
#big-box:hover {
    color: yellow;
    scale: 0.9;
    text-decoration: underline;
    rotate: -5deg;
}
#starburst-behind-box {
    animation: starburstSpin 30s linear infinite;
    height: 180px;
    left: 48px;
    position: relative;
    top: -145px;
    width: 180px;
    z-index: 1;
}