/* Animations */



/* Correct Answer */
.correctAnswerClass {
    animation: correctAnswer 0.8s;
    color: yellow;
}
@keyframes correctAnswer {
    0% {
        color: yellow;
    }
    50% {
        color: green;
    }
    100% {
        color: yellow;
    }
}