/* Master */



body {
    background: #0280CD;
    background: radial-gradient(circle,rgba(2, 128, 205, 1) 0%, rgba(0, 82, 155, 1) 100%);
}



/* Universal */
.burg-navbar {
    color: white;
}
.img-savior {
    border: 3px solid white;
    border-radius:20px;
    margin: auto;
}
.img-postcard {
    border: 3px solid white;
    margin: auto;
}
#footer {
    color: white;
    padding: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    width: 100%;
}
#postcard-display-spot img {
    box-shadow: 10px 10px 20px black;
}



/* Text */
.page-main {
    color: white;
    text-shadow: 1px 1px 2px black;
}
.page-main a {
    color: yellow;
}
.page-main a:hover {
    color: rgb(0, 198, 0);
}
.title-area {
    text-align: center;
}
h1 {
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
}
.p-savior {
    text-align: left;
    text-indent: 50px;
}



/* Hunts */
.hunt-container {
    background: #177cd4;
    background: radial-gradient(circle,rgba(23, 124, 212, 1) 0%, rgba(22, 22, 173, 1) 100%);
    border-radius: 15px;
    padding: 25px;
}
.hunt-header {
    font-weight: bold;
    height: 45px;
}
#item-img-spot {
    height: 200px;
}
#item-img-spot img {
    background-color: rgb(47, 47, 47);
    height: 200px;
    width: 200px;
}
#room-dropdown-spot {
    height: 50px;
}
.room-dropdown {
    width: 200px;
}
#postcard-spot img {
    box-shadow: 10px 10px 20px black;
}