body {
    background-color: black;
    color: white;
}



#game-frame {
    background: #0280CD;
    background: radial-gradient(circle,rgba(2, 128, 205, 1) 0%, rgba(0, 82, 155, 1) 100%);
    height: 600px;
    width: 900px;
}